@import "./variable.scss";
@import "./media.scss";

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  position: relative;

  position: relative;
  .animation__wrap {
    position: relative;
    top: 30%;
    right: -19%;
    transform: rotate(299deg);

    img {
      &:nth-child(1) {
        top: 0;
        right: 100px;
        max-width: 36px;
        position: absolute;
      }

      &:nth-child(2) {
        top: 120px;
        right: 10%;
        max-width: 20px;
        position: absolute;
      }

      &:nth-child(3) {
        top: 0;
        left: 300px;
        max-width: 15px;
        position: absolute;
      }
    }
  }

  &::before {
    // content: "";
    // background: url(../../public/images/Background/.png) no-repeat center
    // center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -2;
  }

  @include md {
    margin-top: 20px;
    position: relative;
    height: 100%;
  }

  .container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 40px 0px 80px;
    z-index: 6;
    // border-bottom: 1px solid #dddee141;
    border-bottom: 1px solid #dddee123;
    margin-top: 84px;
    .grid {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      height: 100%;
      grid-gap: 0rem;

      @include md {
        grid-template-columns: 1fr;
      }

      .start {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 0px 10px;
        @include md {
          padding: 0px 10px 110px;
        }
        h3 {
          columns: 1;
          column-gap: 0px;
          color: #36bb91;
          font-family: "Inter", Sans-serif;
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 19px;
          letter-spacing: 0px;
          word-spacing: 3px;
        }
        h1 {
          font-size: 5rem !important;
          display: inline-block;
          overflow: visible;
          color: #fff;
          font-weight: 600;
          line-height: 1.1em;
          letter-spacing: 0px;
          @include md {
            font-size: 4rem !important;
          }
          span {
            font-family: "Barlow-bold";
            color: #fff !important;
            font-weight: 100 !important;
            // font-family: "Quarry Bones" ;
          }
        }

        p {
          margin: 17px 7px;
          font-size: 18px;
          width: 90%;
          color: #c2c3c5;
          line-height: 1.4;

          @include md {
            text-align: center;
            font-size: 20px;
            text-align: start;
          }
        }

        > .btn__container {
          display: flex;
          flex-flow: row;
          padding-top: 0.5em;
          flex-wrap: wrap;
          justify-content: center;
          gap: 15px;
          margin-top: 20px;

          @include md {
            margin: unset;
          }

          @include sm {
            flex-direction: column;
          }

          button.first {
            font-family: "Raleway", Sans-serif;
            font-size: 18px;
            letter-spacing: 0.5px;
            fill: #020710;
            color: #ffff;
            padding: 12px 55px 12px 55px;
            text-transform: capitalize;
            font-weight: 500 !important;
            cursor: pointer;
            background: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            border-color: #36bb91;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 10px 20px 0px #36bb9147;
            &:hover {
              span {
                &::before {
                  right: 0%;
                }
              }
            }
          }

          button.second {
            font-family: "Raleway", Sans-serif;
            font-size: 18px;
            letter-spacing: 0.5px;
            fill: #020710;
            color: #ffff;
            padding: 12px 55px 12px 55px;
            text-transform: capitalize;
            font-weight: 500 !important;
            cursor: pointer;
            background-color: #36bb91;
            border-style: solid;
            border-width: 0px 0px 0px 0px;
            border-color: #36bb91;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0px 10px 20px 0px #36bb9147;
            &:hover {
              span {
                &::before {
                  right: 0%;
                }
              }
            }
          }
        }
      }

      .end {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
          // content: "";
          background: url(../../public/images/ygyhy.png) no-repeat top left;
          position: absolute;
          top: -34px;
          left: -4%;
          background-size: 130px;
          opacity: 1;
          width: 100%;
          height: 100%;
        }
        .img {
          padding: 8px;
          cursor: pointer;
          figure {
            img {
              width: 100%;
              height: 100%;
            }
          }
          .bottom {
            h2 {
              color: #fff;
              text-align: center;
              margin: 12px 0 8px;
            }
            button {
              font-family: "Raleway", Sans-serif;
              font-size: 18px;
              letter-spacing: 0.5px;
              fill: #020710;
              color: #ffff;
              padding: 12px 55px 12px 55px;
              text-transform: capitalize;
              font-weight: 500 !important;
              cursor: pointer;
              background-color: #36bb91;
              border-style: solid;
              border-width: 0px 0px 0px 0px;
              border-color: #36bb91;
              border-radius: 10px 10px 10px 10px;
              box-shadow: 0px 10px 20px 0px #36bb9147;
            }
          }
        }
      }
    }
  }
}

.bottom__banner {
  padding: 40px 20px;
  .container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 3rem;
      justify-content: center;
      align-items: center;
      .item {
        display: grid;
        align-items: center;
        justify-content: center;
        h3 {
          text-align: center;
          font-weight: 700;
          font-family: "DM Sans";
          font-size: 3.2rem;
        }
        h6 {
          text-align: center;
          color: #ffffffb3;
          font-family: "DM Sans", Sans-serif !important;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0px;
          margin-top: 6px;
        }
      }
    }
  }
}
@keyframes scaleee {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.bounce {
  -webkit-animation: float 1500ms infinite ease-in-out;
  animation: float 1500ms infinite ease-in-out;
}

.moveVertical {
  -webkit-animation: moveVertical 3000ms infinite ease-in-out;
  animation: moveVertical 3000ms infinite ease-in-out;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
