@import "./variable.scss";
@import "./media.scss";

.calculator {
   
      border-radius: 20px;
      padding: 40px 30px;
@include md{
  padding: 40px 10px;
}
  .heading {
    margin-bottom: 30px;

    h1 {
      font-size: 4rem !important;
      display: inline-block;
      overflow: visible;
      color: #fff;
      font-weight: 600;
      line-height: 1.2em;
      letter-spacing: 0px;
      text-align: center;
    }

    h5 {
      text-align: center;
      color: #2cbca5;
      font-family: "Inter", Sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 1px;
    }

    p {
      text-align: center;
      color: #848296;
      font-family: "DM Sans", Sans-serif;
      font-size: 18px;
      font-weight: 100;
      line-height: 1.4;
      width: 50%;
      margin: 10px auto;
    }
  }

  .container {
    max-width: 800px;
    margin: auto;

    .item {
      background: #14253b;
      border-radius: 20px;
      padding: 40px 30px;
      @include md{
        padding: 40px 15px;
      }
      .flex {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 10px;
        .img {
          display: flex;
          gap: 10px;
          align-items: center;
          > span {
            font-family: "Raleway";
            font-size: 20px;
            font-weight: 600;
          }
          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
          }
        }
      }
      p {
        font-size: 20px;
        padding: 10px;
        font-weight: 500;
      }
      .btn__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem 2rem;
        align-items: center;
        justify-content: center;
        @include md{
          grid-template-columns: 1fr;
        }
        .start,
        .end {
          h3 {
            padding: 10px;
          }
          ul {
            display: flex;
            list-style: none;
            gap: 8px;
            background: #344252;
            padding: 8px 12px;
            justify-content: center;
            border-radius: 33px;
            li {
              width: -webkit-fill-available;
              text-align: center;
              padding: 8px 0;
              border-radius: 30px;
              cursor: pointer;
              // &:nth-child(1){
              //         background: #6366FF;
              // }
            }
          }
        }
      }
      .input {
        display: flex;
        justify-content: space-between;
        padding: 15px 15px;
        background: #344252;
        margin-top: 15px;
        border-radius: 30px;
      }
    }
  }
}
