@import "./variable.scss";
@import "./media.scss";

.collection {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 90px 10px 0;

  &::before {
    content: "";
    // background: url(../../public/images/Background/city-bg-3.svg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center;
  }

  &:after {
    // content: "";
    --tw-gradient-from: #230303;
    --tw-gradient-stops: #230303,
      var(--tw-gradient-to, transparent);
    background-image: linear-gradient(180deg, var(--tw-gradient-stops));
    height: 130px;
    // content: "";
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
  }

  >span {

    // --tw-gradient-from: #230303;
    // --tw-gradient-stops: #230303,
    // var(--tw-gradient-to, transparent);
    // background-image: linear-gradient(180deg, var(--tw-gradient-stops));
    // height: 130px;
    // content: "";
    // left: 0;
    // position: absolute;
    // width: 100%;
    // bottom: 0;
    // transform: rotateX(180deg);
  }

  .heading {
    h1 {
      font-size: clamp(6rem, 10vw, 10rem);
      margin-bottom: 3rem;
      line-height: 1;
      display: block;
      font-weight: 100;
      text-transform: uppercase;
      text-shadow: 1px 2px 11px #00000026;
      text-align: center;
      color: #ffffff;

      span {
        display: inline-block;
      }
    }
  }

  .img__grid {
    align-items: center;
    position: relative;
    height: 300px;
    width: 100%;
    transition: all 0.5s ease-out;
    gap: 1.5rem;
    margin-bottom: 25px;

    @include md {
      height: 280px;
    }
  }

  .img__grid {
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0;
      background: #141b22;
      padding: 20px;

      @include md {
        padding: 10px;
      }
    }
  }
}

.twond img {
  transform: rotateY(180deg);
}

h2 {}