@import "./variable.scss";
@import "./media.scss";

footer {
  position: relative;
  z-index: 100;
  margin-top: 50px;
  &::before {
      content: "";
        background: url(../../public/images/Background/bg-black.png) no-repeat center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        filter: brightness(.6);
      
        z-index: -2;
  }
  > .container {
    margin: 0 auto;
    padding: 20px 15px 0;
    max-width: 1200px;
    
    .top__footer {
      padding: 30px 0 50px;
      .grid {
      display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
        grid-gap: 2rem;
        @include md{
         grid-template-columns: 1fr;
        }
        .item {
          h2 {
            text-transform: uppercase;
              margin-bottom: 5px;
              font-size: 1.5rem;
              color: #fff;
              display: flex;
              align-items: center;
              font-family: 'Inter';
            @include md{
              
                opacity: .8;
             
            }
          }
          p{
            opacity: 1;
          }
          .email {
            position: relative;
            min-width: 400px;
            overflow: hidden;
            border-radius: 10px;
            @include md{
              min-width: 350px;
              width: 100%;
            }
            input {
              width: 100%;
              padding: 15px 46px 15px 23px;
              font-size: 16px;
              line-height: 26px;
              color: #c2c3c5;
              border: none;
              outline: 0;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              font-size: 16px;
              line-height: 26px;
              padding: 10px 24px;
              width: 100%;
              background-color: #c2c3c526;
              color: #c2c3c5;
            }

            button {
          right: 0;
            position: absolute;
            padding: 0 30px;
            background: linear-gradient(90deg, #e5941f 0%, #d87006 100%);
            background: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
            color: #fff;
            border: 0;
            text-transform: capitalize;
            width: 160px;
            height: 100%;
            cursor: pointer;
            font-weight: 600;
            }
          }
        }
      }
    }
    .bottom__footer {
      border-top: 1px solid #434343;
      padding: 13px 0 14px;
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      justify-content: space-between;
      @include md{
        justify-content: space-between;
          flex-direction: column-reverse;
          opacity: .7;  
      }
      p {
        font-size: 15px;
        text-transform: capitalize;
        opacity: .8;
      }
      ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
        list-style: none;



        @include md{
          flex-wrap: wrap;
        }
        > li {
          position: relative;
          transition: 0.3s all;
          font-size: 15px;
          transition: 0.1s all;
          position: relative;

          > a {
            transition: 0.2s all;
            line-height: 1.5em;
            position: relative;
            z-index: auto;
            background-position: center 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border-radius: 4px;
            padding: 6px 0px;
            font-weight: 400;
            text-transform: capitalize;

            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}


.join__community{
  position: relative;
  padding: 90px 10px;
  .container{
    max-width: 1200px;
    margin: auto;
    .join {
        background: url(../../public/images/join.png),
          linear-gradient(268.28deg, #2333de -1.34%, #0abe66 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        text-align: center;
        margin-top: -105px;
        padding: 40px 0 40px;
        transform: translateY(-10%);
        position: relative;
    
        &::before {
          content: "";
          background: url(../../public/images/bg-action-box1.png) no-repeat center center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: contain;
          z-index: -2;
        }
    
        h2 {
          text-transform: uppercase;
          margin-bottom: 5px;
          font-size: 2.5rem;
          color: #fff;
          display: flex;
          align-items: center;
        }
    
        .btn__container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
    
          a:nth-child(1) {
            .btn {
              background-color: #fff;
              color: #141b22;
              margin-right: 0;
              padding: 12px 24px 12px 24px;
              display: inline-flex;
              align-items: center;
              font-size: 18px;
              font-family: "Bakbak One";
              margin-left: 15px;
              text-transform: uppercase;
              position: relative;
              z-index: 0;
              overflow: hidden;
              transition: 0.3s all ease-out;
              height: 44px;
    
              &:hover {
                &::before {
                  right: 0;
                }
              }
    
              &::before {
                content: "";
                position: absolute;
                height: 100%;
                min-width: 100%;
                background: #fff;
                right: -100%;
                top: 0;
                transition: 0.3s all;
                z-index: -1;
              }
    
              @include md {
                padding: 12px 20px;
                font-size: 16px;
              }
    
              svg {
                height: 25px;
                width: 23px;
                transform: translate(-6px, 1px);
                fill: #141b22;
              }
    
              &:hover {}
            }
          }
    
          a:nth-child(2) {
            .btn {
              background-color: #fff;
              color: #141b22;
              margin-right: 0;
              padding: 12px 24px 12px 24px;
              display: inline-flex;
              align-items: center;
              font-size: 18px;
              font-family: "Bakbak One";
              text-transform: uppercase;
              position: relative;
              z-index: 0;
              overflow: hidden;
              transition: 0.3s all ease-out;
              height: 44px;
    
              &:hover {
                &::before {
                  right: 0;
                }
              }
    
              &::before {
                content: "";
                position: absolute;
                height: 100%;
                min-width: 100%;
                background: #fff;
                right: -100%;
                top: 0;
                transition: 0.3s all;
                z-index: -1;
              }
    
              @include md {
                padding: 12px 20px;
                font-size: 16px;
              }
    
              svg {
                height: 20px;
                width: 20px;
                transform: translate(-6px, 0px);
                fill: #141b22;
              }
    
              @include lg {
                margin-right: 50px;
              }
    
              &:hover {}
            }
          }
        }
    
        p {
          font-size: 18px;
          line-height: 28px;
          color: #f7f7f9;
          margin-bottom: 22px;
          margin-left: -16px;
        }
      }
  }
}