@import "./variable.scss";
@import "./media.scss";

.info {
  padding: 90px 10px;
  position: relative;
  z-index: 5;

  &::before {
    // content: "";
    background: linear-gradient(0deg, transparent, #07071b);
    width: 100%;
    height: 20%;
    position: absolute;
    top: -20px;
    left: 0;
    background-size: cover;
    z-index: -1;
  }
  &::after {
    // content: "";
    background: linear-gradient(0deg, #07071b, transparent);
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
  }
  .heading {
    margin-bottom: 40px;
    h1 {
      font-size: 4rem !important;
      display: inline-block;
      overflow: visible;
      color: #fff;
      font-weight: 600;
      line-height: 1.2em;
      letter-spacing: 0px;
      text-align: center;
    }
    h5 {
      text-align: center;
      color: #2cbca5;
      font-family: "Inter", Sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.4em;
      letter-spacing: 1px;
    }
    p {
      text-align: center;
      color: #848296;
      font-family: "DM Sans", Sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      width: 50%;
      margin: 10px auto;
    }
  }
  .container {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 2rem;
      padding: 30px 0;
      .item {
        padding: 35px 35px 35px 35px;
        background: #14253b;
        border-radius: 30px;
        .top {
          align-items: center;
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: 1fr;
          justify-content: center;
          text-align: center;
          grid-gap: 8px;
          text-transform: capitalize;
          font-weight: 600;
          img {
            width: 80px;
            height: 80px;
            margin: 0 auto 10px;
          }
          span {
            color: white;
            font-weight: 500;
            font-size: 3.3rem;
            margin: 5px;
          }
          h3 {
            color: white;
            text-transform: capitalize;
            font-weight: 800;
            font-size: 29px;
            margin: 5px;
            font-family: "DM Sans";
          }
        }
        p {
          font-size: 16px;
          text-align: center;
          line-height: 1.5;
          font-weight: 300;
          color: #fff;
        }
        ul{
          display: grid;
          grid-gap: 1rem;
          list-style: none;
          padding: 20px;
          li{
          display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'Raleway';
            font-size: 18px;
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      button{
            font-family: "Raleway", Sans-serif;
              font-size: 20px;
              font-weight: 700;
              letter-spacing: 0.5px;
              fill: #FFFFFF;
              color: #FFFFFF;
              background-color: transparent;
              background: #6366ff;
              border-style: solid;
              border-width: 0px 0px 0px 0px;
              border-color: #6366FF61;
              border-radius: 10px 10px 10px 10px;
              box-shadow: 0px 10px 20px 0px rgba(54, 187, 145, 0.19);
              padding: 17px 40px 17px 40px;
              cursor: pointer;
              width: 100%;
              margin-top: 10px;
      }
    }
  }
}
