@import "./variable.scss";
@import "./media.scss";

.invite {
  padding: 90px 10px;

  .heading {
    margin-bottom: 40px;

    h1 {
      font-size: 4rem !important;
      display: inline-block;
      overflow: visible;
      color: #fff;
      font-weight: 600;
      line-height: 1.2em;
      letter-spacing: 0px;
      text-align: center;
      width: 60%;
      margin: auto;
      @include md {
        width: 100%;
      }
    }

    h5 {
      text-align: center;
      color: #2cbca5;
      font-family: "Inter", Sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 1px;
    }

    p {
      text-align: center;
      color: #848296;
      font-family: "DM Sans", Sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      width: 50%;
      margin: 10px auto;
      @include md {
        width: 100%;
      }
    }
  }

  .container {
    max-width: 800px;
    margin: auto;
    .item {
      background: #14253b;
      border-radius: 20px;
      padding: 40px 40px 40px 40px;
      @include md {
        padding: 40px 15px;
      }
      h2 {
        padding: 10px 13px;
      }
      .input {
        padding: 10px;
        display: flex;
        gap: 15px;

        input {
          background: #344252;
          border: 0;
          outline: none;
          padding: 15px 10px;
          border-radius: 12px;
          width: 80%;
        }

        button {
          font-family: "Raleway", Sans-serif;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.5px;
          fill: #ffffff;
          color: #ffffff;
          background-color: transparent;
          background: #6366ff;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
          border-color: #6366ff61;
          border-radius: 10px 10px 10px 10px;
          box-shadow: 0px 10px 20px 0px
            rgba(52, 168, 132, 0.19);
          padding: 17px 40px 17px 40px;
          cursor: pointer;
          background: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
        }
      }
    }
  }
}
