@import "./variable.scss";
@import "./media.scss";

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  transition: all 0.5s ease-out;
  position: fixed;

  p {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Kaulen" !important;

    span {
      font-size: 1.5rem;
      font-family: "Kaulen" !important;
    }
  }

  .outer {
    .container {
      max-width: 1250px;
      margin: 0 auto;
      .nav__grid {
        display: grid;
        grid-template-columns: 1.5fr 3.4fr 0.5fr;
        align-items: center;
        padding: 10px 5px;
        grid-gap: 10px;
        @include mobile {
          padding: 18px 0px;
        }

        @include lg {
          padding: 10px 10px;
        }

        .logo {
          justify-self: start;

          img {
            padding: 0px 0;
            max-width: 80px;
          }
        }

        nav {
          display: flex;
          justify-content: end;
          align-items: center;

          @include lg {
            margin: 0;
          }

          ul {
            display: flex;
            justify-content: center;
            gap: 0.7rem;
            list-style: none;

            li.nav__links {
              @include -lg {
                display: none;
              }

              display: flex;
              gap: 5px;
              justify-content: center;
            }

            > li {
              padding: 0 5px;
              margin-right: 5px;
              position: relative;
              transition: 0.3s all;
              font-size: 18px;
              transition: 0.1s all;
              position: relative;

              > a {
                font-weight: 400;
                text-transform: capitalize;
                svg {
                  fill: #fff;
                }

                @include lg {
                  font-size: clamp(3em, 11vw, 4em);
                  font-weight: 900;
                  line-height: 1;
                }
              }
            }
          }
        }

        > .nav__btns {
          justify-self: end;
          display: flex;
          align-items: center;
          gap: 0px;
          margin: 10px 0;
          a:nth-child(1) {
            display: none;
            svg {
              width: 36px;
            }
          }
          a:nth-child(2) {
            display: none;
            svg {
              width: 36px;
            }
          }
          a:nth-child(3) {
            display: none;
            svg {
              width: 29px;
            }
          }
          a:nth-child(4) {
            display: none;
            .btn {
              font-family: "Raleway", Sans-serif;
              fill: #020710;
              color: #fff;
              text-transform: capitalize;
              font-weight: 600 !important;
              box-shadow: none;
              font-size: 15px;
              letter-spacing: -0.009em;
              white-space: nowrap;
              line-height: 1;
              padding: 9px 30px;
              border-radius: 90px;
              transition: color 450ms, background 450ms;
              background: transparent;
              border: 1px solid #ccc;
              &:hover {
                &::before {
                  right: 0;
                }
              }

              &::before {
                content: "";
                position: absolute;
                height: 100%;
                min-width: 100%;
                background: #fff;
                right: -100%;
                top: 0;
                transition: 0.3s all;
                z-index: -1;
              }

              @include md {
                padding: 12px 20px;
                font-size: 16px;
              }

              svg {
                height: 23px;
                width: 23px;
                transform: translate(-4px, 0px);
                fill: #141b22;
              }

              &:hover {
              }
            }
          }

          a:nth-child(5) {
            margin-left: 10px;
            .btn {
    font-family: "Raleway", Sans-serif;
      fill: #020710;
      color: #fff;
      text-transform: capitalize;
      font-weight: 600 !important;
      box-shadow: none;
      font-size: 18px;
      letter-spacing: -0.009em;
      white-space: nowrap;
      line-height: 1;
      padding: 12px 50px;
      border-radius: 90px;
      transition: color 450ms, background 450ms;
      background: linear-gradient(160deg, #017bfd 0%, #20bfe1 100%);
      border: 0;
      text-transform: capitalize;
              @include md {
                padding: 12px 20px;
                font-size: 16px;
              }

              svg {
                height: 22px;
                width: 22px;
                transform: translate(-5px, 0px);
                fill: #141b22;
              }

              @include lg {
                margin-right: 50px;
              }

              &:hover {
              }
            }
          }

          a {
            margin-right: 12px;

            svg {
              height: 40px;
              width: 52px;
              border-radius: 6px;
              fill: #fff;
              @include lg {
                display: none;
              }
            }
          }

          a.dis {
            margin-right: 0;

            svg {
              padding: 5px 8px;
            }
          }
        }
      }
    }
  }
}

.modal- {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #607d8b;
  padding: 40px 0px 20px 0px;
  border-radius: 0px;
  transition: 0.3s transform, opacity 0.3s;
  transition-timing-function: ease-out;
  z-index: 1111;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  max-width: 350px;
  width: 100%;
  height: 200px;
  display: grid;
  place-content: center;

  box-shadow: 0 0 10px #00000080;

  > svg {
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 5%;
  }

  p {
    font-size: 25px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 1.3;
  }

  .ico {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transform: scale(3);
      margin-bottom: 30px;
    }
  }

  .warn {
    svg {
      fill: #f1c40f;
    }
  }

  .info {
    svg {
      fill: #3498db;
    }
  }

  .error {
    svg {
      fill: #e74c3c;
    }
  }

  .success {
    svg {
      fill: #07bc0c;
    }
  }
}

.shadow- {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00000057;
  height: 100%;
  z-index: 1110;
  cursor: pointer;
}

.nav__active {
  top: 0px;
  background: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.045);
  backdrop-filter: blur(5px);
}

.auto_scroll {
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 1001;
  transform: scale(0);

  > svg {
    width: 35px;
    background: #fff;
    height: 35px;
    place-content: center;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #dbd9e01f;
    padding: 8px;
    fill: black;
  }
}

@media (min-width: 992px) {
  header {
    .nav__grid {
      .nav__btns {
        > i {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 992px) {
  header {
    .nav__grid {
      grid-template-columns: 1fr 1.5fr !important;

      .logo {
      }

      nav {
          position: absolute;
            top: 0;
            width: 100%;
            z-index: 100;
            height: 100vh;
            right: -100%;
            overflow: hidden;
            justify-content: center !important;
            background: #021327;
            transition: all 400ms ease 0s;

        ul {
          flex-direction: column;

          padding: 15px 10px;
          font-size: 1.4rem;

          li {
            margin-right: unset;
            margin-bottom: 15px;
          }
        }
      }

      .nav__btns {
        > div {
          cursor: pointer;
          height: 48px;
          position: absolute;
          transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
          -webkit-user-select: none;
          user-select: none;
          width: 48px;
          outline: none;
          transform: none;
          right: 3.5%;
          z-index: 1111;
          top: 17%;

          > span {
            &:nth-child(1) {
              background: #fff;
              height: 4px;
              left: 8px;
              position: absolute;
              width: 38px;
              top: 13px;
              transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
              transform: none;
            }

            &:nth-child(2) {
              background: #fff;
              height: 4px;
              left: 8px;
              position: absolute;
              width: 38px;
              top: 23px;
              transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
              opacity: 1;
            }

            &:nth-child(3) {
              background: #fff;
              height: 4px;
              left: 8px;
              position: absolute;
              width: 38px;
              top: 33px;
              transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
              transform: none;
            }
          }
        }
      }
    }
  }
}
